body {
    color: #fff;
    background-color: #000000;
}

.stButton>button {
    color: #000000;
    border-radius: 8px;
    height: 3em;
    width: 4em;
}

.stTextInput {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
}
