body {
    color: #fff;
    background-color: #000000;
}
.stButton>button {
  color: #000000;
  border-radius: 8px;
  height: 3em;
  width: 4em;
  display: block;  /* Add this line to specify that the button should be displayed as a block element */
  margin: auto;  /* Add this line to center the button horizontally */
}


