body {
    color: #fff;
    background-color: #000000;
}

.stButton>button {
    color: #000000;
    border-radius: 8px;
    height: 3em;
    width: 4em;
}

.stTextInput>div>div>input {
    color: #000000;
    border-radius: 20px;
    
}
.contact-us-link {
  
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
}

.navbar-brand {
  position: relative;
  right: 0;
  top: 0;
  margin: 2em;
}
